.form-container {
    width: 100%;
}

.summary-caption {
    color: #1E2A32;
    font-family: "WorkSansLocal", Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
}

.summary-amount {
    color: #595D7B;
    text-align: right;
    font-family: "InterLocal", Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
}

.label {
    flex: 1;
}

@media (max-width: 768px) {
    .input-container {
        flex-direction: column;
    }

    .label-month-selector {
        margin-top: 16px;
    }
}

@media (min-width: 768px) {
    .input-container {
        flex-direction: row;
    }
}
