.form-container {
    width: 100%;
}

.input-caption {
    color: #4D6475;
    font-family: "WorkSansLocal", Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
}

.input-wrapper {
    border-radius: 4px;
    border: 1px solid #E9EEF2;
    background: #FFF;

    padding: 16px 16px 16px 8px;
    gap: 8px;
    align-self: stretch;
}

.summary-caption {
    color: #1E2A32;
    font-family: "WorkSansLocal", Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 24px */
}

.summary-amount {
    color: #595D7B;
    text-align: right;
    font-family: "InterLocal", Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 38.4px */
}
