.App {
  text-align: center;
  background-color: #F4F8FA;
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.10);
}

.page-content-container {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 16px 32px 0px rgba(30, 42, 50, 0.08);
}

@media (max-width: 768px) {
  .page-content-container {
    width: 100%;
    height: 100%;
  }

  .App {
    height: 100vh;

  }
}

@media (min-width: 768px) {
  .page-content-container {
    width: 600px;
    height: fit-content;
    margin-top: 64px;
  }

  .App {
    height: 90vh;
    margin-top: 80px;
  }
}
