.form-header {
    background-color: #FFDBCB;
}

@media (min-width: 768px) {
    .form-header {
        height: 128px;
    }

    .form-header-content-wrapper {
        padding: 32px 40px 24px 40px;
        align-items: flex-start;
        flex-direction: row;
    }

    .header-caption {
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .form-header {
        height: 193px;
    }

    .form-header-content-wrapper {
        padding: 16px 24px 28px 24px;
        align-items: center;
        flex-direction: column;
    }

    .header-caption {
        margin-top: 16px;
        align-items: center;
    }
}


.header-main-caption {
    align-self: stretch;
    color: #423C66;
    font-family: 'WorkSansLocal', Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 38.4px */
}

.header-sub-caption {
    color: #595D7B;
    font-family: 'InterLocal', Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
